/* 字体 */
@font-face {
    font-family: AlimamaShuHeiTi;
    src: url(../font/AlimamaShuHeiTi-Bold.woff2)
    /*src: url(https://cdn.jsdelivr.net/gh/Joker2Yue/jsdelivr-cdn@main/font/AlimamaShuHeiTi-Bold.ttf)*/
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-Bold.woff2)
    /*src: url(https://cdn.jsdelivr.net/gh/Joker2Yue/jsdelivr-cdn@main/font/JetBrainsMono.ttf)*/
}

/* 文章内样式 */
hr {
    padding: 0;
    margin: 20px 0 15px;
    overflow: hidden;
    box-sizing: content-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    cursor: text;
}

h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
}

h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
}

h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

h4 {
    font-size: 1.25em;
    padding-top: 0.5em;
}

h5 {
    margin-top: 1rem;
    font-size: 1em;
}

h6 {
    font-size: 1em;
    color: #777;
}

blockquote {
    border: transparent;
    border-left: 4px solid #aaaaaa80;
    border-radius: 0;
    margin-left: 2px;
    padding: 0 15px;
    color: #aaa;
    background-color: transparent;
}

.read-mode #article-container blockquote {
    background-color: transparent;
}

.author-content-item.personalities .image {
    right: -30px;
    top: 25px;
    width: 320px;
}

.image-container, .image-container img {
    width: 100%;
}

.image-container img {
    margin: 0 !important;
    max-height: fit-content !important;
    border-radius: 0 !important;
}

.image-container {
    border-radius: 8px !important;
    overflow: hidden;
    margin-bottom: 15px;
}

.table-wrap {
    width: 100%;
}

.unvisited-post {
    display: none !important;
}

#aside-content #card-toc .toc-content {
    max-height: calc(100vh - 160px) !important;
}

#aside-content #card-toc .toc-content:not(.is-expand) .toc-item.active .toc-child {
    padding-left: 9px !important;
    margin-left: 9px !important;
}

#aside-content #card-toc .toc-content:not(.is-expand) .toc-child {
    border-left: 1px solid var(--dark-grey);
}

/* 修复顶部按钮样式 */
.topGroup .banner-button {
    width: 118px !important;
}

/* 修复移动端部分按钮 */
@media screen and (max-width: 768px) {
    .author-content-item .card-content .banner-button-group .banner-button i, .author-content-item .card-content .banner-button-group .banner-button svg {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
        color: #4c4948 !important;
    }
}

/* 代码展开动画修复与优化 */
#article-container .code-expand-btn.expand-done {
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#article-container .code-expand-btn.expand-done i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 0s, background 0.3s;
    -moz-transition: all 0s, background 0.3s;
    -o-transition: all 0s, background 0.3s;
    -ms-transition: all 0s, background 0.3s;
    transition: all 0s, background 0.3s;
}

#article-container .code-expand-btn:not(.expand-done) ~ table, #article-container .code-expand-btn:not(.expand-done) ~ pre {
    height: max-content;
    max-height: 330px;
}

#article-container figure.highlight table {
    display: block;
    overflow: auto;
    overflow-y: hidden;
    border: none;
    transition: max-height 0.6s;
}

/* 修复移动模式下的遮罩 */
#aside-quit-mask {
    position: fixed;
    background: hsla(0, 0%, 9%, .5);
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 避免遮罩层阻止滑动 */
    transition: opacity 0.5s ease;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

#card-toc {
    z-index: 101 !important;
}

/* 修复阅读模式下的文字问题 */
.read-mode #article-container h1, .read-mode #article-container h2, .read-mode #article-container h3, .read-mode #article-container h4, .read-mode #article-container h5, .read-mode #article-container h6 {
    padding: 0 0 0 1rem !important;
}

.read-mode #article-container code {
    color: #fff !important;
}

/* 修复<a>文字错误 */
a {
    font-family: AlimamaShuHeiTi, "PingFang SC", "Microsoft JhengHei", "Microsoft YaHei", sans-serif !important;
}

/*  修复文章页面后面的铅笔图标 */
.post-edit-link .anzhiyu-icon-pencil:before {
    color: var(--anzhiyu-white);
}

/* 关于本人 - Hello There！*/
.hello-about h1 {
    font-family: sans-serif !important;
    padding-bottom: 0 !important;
}

/*左下角版权*/
.copyright .footer-bar-link {
    margin-right: 0.2rem !important;
}

/* 禁止复制 */
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

time {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

/* 阻止span 的复制 */
span {
    user-select: none; /* 对现代浏览器有效 */
    -webkit-user-select: none; /* 对 Chrome 和 Safari 有效 */
    -moz-user-select: none; /* 对 Firefox 有效 */
    -ms-user-select: none; /* 对 IE10+ 有效 */
}

/* 开启代码的复制 */
table .code span {
    user-select: auto; /* 对现代浏览器有效 */
    -webkit-user-select: auto; /* 对 Chrome 和 Safari 有效 */
    -moz-user-select: auto; /* 对 Firefox 有效 */
    -ms-user-select: auto; /* 对 IE10+ 有效 */
}

/*! */
#recent-posts > .recent-post-item:not(a)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    transform: translateX(-200%);
    transition: transform .5s linear;
    z-index: 1
}

/* 封面闪光效果 */
/*#recent-posts > .recent-post-item:not(a):hover::before {*/
/*    transform: translateX(100%) skewX(-60deg)*/
/*}*/

#postChat_button {
    bottom: 100px !important
}

/* 友链中的 回顶 */
#flink .tab-to-top {
    display: none;
}

/* 评论区管理员字体颜色 */
#body-wrap.page .tk-admin-config .el-input__inner {
    color: var(--anzhiyu-fontcolor) !important;
}

/* 友链中部分大图片溢出修复 */
#flink-banners #skills-tags-group-all .tags-group-icon img {
    height: 100% !important;
}

/*! 加载动画 */
.pl-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    will-change: transform;
    animation: blur-to-clear 2s cubic-bezier(.62, .21, .25, 1) 0s 1 normal backwards running,
    scale 1.5s cubic-bezier(.62, .21, .25, 1) 0s 1 both,
    brightness-fade 3s cubic-bezier(.62, .21, .25, 1) 0s 1 normal forwards;
}

.pl-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s
}

@keyframes blur-to-clear {
    0% {
        filter: blur(50px);
        opacity: 1
    }
    100% {
        filter: blur(0);
        opacity: 1
    }
}

@keyframes scale {
    0% {
        transform: scale(1.5) translateZ(0);
        opacity: 0
    }
    to {
        transform: scale(1) translateZ(0);
        opacity: 1
    }
}

@keyframes brightness-fade {
    0% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(70%);
    }
}

.pl-visible {
    opacity: 1
}

.pl-blur {
    filter: blur(50px)
}

/* 欢迎信息 */
#welcome-info {
    overflow: hidden;
    border-radius: 14px;
    font-size: 15px;
    --joker2yue-welcome-color: #49B1F5;
    --joker2yue-ip-color: #49B1F5;
    --joker2yue-gl-size: 15px !important
}
